@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:ital,wght@0,400..700;1,400..700&display=swap');

@import 'tailwindcss';

@theme {
    --color-background1: #f6f4f0;
    --color-background2: #e3d2ccff;
    --color-thistle: #d9c5dbff;
    --color-lilac: #c3aed0ff;
    --color-finn: #643a71ff;
    --color-pink: #e98aa5ff;
    --color-text1: #434143ff;
    --color-text2: #1b1619ff;
    --font-title: 'Playfair Display', sans;
    --font-body: 'Open Sans', sans-serif;
    --font-fun: 'Familjen Grotesk', sans;
    --font-handwriting: 'Oooh Baby', sans;
}

h1,
h2,
h3 {
    font-family: 'Playfair Display', sans;
    color: var(--color-finn);
    letter-spacing: var(--tracking-widest);
    
}

body {
    font-family: 'Open sans', sans-serif;
    color: var(--color-onyx);
}

.handwriting {
    font-family: var(--font-handwriting);
    font-weight: bold;
}

.container {
    @apply max-w-[22rem] mx-auto sm:max-w-[39rem] md:max-w-[45rem] h-[44.5rem] p-5 mt-20 mx-5 lg:max-w-[62rem] md:px-10 lg:px-15 xl:max-w-[100rem] overflow-hidden;
}
